<form action="">
    <p>-Valor do EURO Hoje-</p>
    <label for="idNome">Valor: </label>
    <input type="text" id="idValor" name="nmValor">

    <input type="submit" value="Enviar">

    <p id="idLinha1"></p>

</form>
